body{
    font-family: Arial, Helvetica, sans-serif;
}
.logo-img{
    width: 130px;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px black solid;
}
.nav-bar>ul{
    display: flex;
    margin-right: 20px;
}
.nav-bar>ul>li{
    margin: 0 15px;
    list-style: none;
    font-size: 15px;
    margin-top: 10px;
}
.restaurant-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}
.restaurant-card{
    margin: 15px;
    width: 210px;
    
}
.ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.restaurant-card:hover{
    cursor: pointer;
    transform: scale(0.96);
}
.restaurant-img{
    width: 200px;
    height: 130px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 0;
}
.mrginzero{
    margin: 5px 0px;
}
.fnt{
    color:#676A6D
}
.star-png{
    position: relative;
    top: 4px;
}
.filter{
    margin: 10px;
}